body {
  font-family: roboto, arial;
}
  h1, h2, h3, h4 {
    font-weight: 400;
    font-size: 35px;
  }
button, .button {
  background-color: #4c8bf5; /* Google Blue */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 5px 3px;
  cursor: pointer;
  font-family: roboto;
  border-radius: 3px;
}
.middle {
  margin-top: 100px;
  
  
}
